<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sicc.gsp.svm.gms.svm.dao.SVMLoginDAO">

  	<select id="auth" resultType="kr.co.sicc.gsp.svm.gms.svm.vo.SVMUserVO" >
    SELECT EMAIL_ID, PASSWORD, (CASE WHEN USE_YN = 'Y' THEN 1 ELSE 0 END) AS ENABLED, ENC_SALT AS SALT
   	  FROM SVMUSERM
	 WHERE TENANT_ID	= #{tenantId}
	   AND CP_CD		= #{cpCd}
	   AND EMAIL_ID 	= #{emailId}
  	</select>
  	
  	<select id="authList" resultType="kr.co.sicc.gsp.svm.gms.common.login.Role">    
	 SELECT ASSIGN_GROUP_ID AS NAME,
		   ASSIGN_GROUP_ID AS permission,
		   '' as accesspriv
	  FROM SVMUSERM UG
	 WHERE TENANT_ID	= #{tenantId}
	   AND CP_CD		= #{cpCd}
	   AND EMAIL_ID 	= #{emailId}
	 ORDER BY ASSIGN_GROUP_ID
  	</select>
  	
  	<select id="userInfo"  resultType="kr.co.sicc.gsp.svm.gms.svm.vo.SVMUserVO">
    <![CDATA[
    SELECT 
    	   EMAIL_ID
    	  ,PASSWORD
		,(CASE WHEN USE_YN = 'Y' THEN 1 ELSE 0 END) AS ENABLED
		  ,USE_YN
		  --,BIRTH_DT
		  ,TO_CHAR(TO_DATE(BIRTH_DT,'YYYYMMDD'),'DDMMYYYY') AS BIRTH_DT
		  ,SUBMIT_YN
		  ,SAVE_TAB_ID
		  ,PASSWORD_CHG_YN
		  ,EMAIL_ID_AUTH_YN
	      ,ENC_SALT AS SALT
	      ,COALESCE((SELECT AD_NO FROM SVMVOLUNTEERM A WHERE A.EMAIL_ID = #{emailId}),'') AS AD_NO
   	  FROM SVMUSERM
   	  ]]>
 	 WHERE TENANT_ID	= #{tenantId}
	   AND CP_CD		= #{cpCd}
	   AND EMAIL_ID 	= #{emailId}
  	</select>
  	
<!-- 	<update id="loginSuccess" parameterType="com.gms.svm.vo.SVMUserVO"> -->
<!-- 	<![CDATA[ -->
<!-- 	INSERT INTO WEBLOGININFOM ( -->
<!-- 		SYSTEM_CD, SYSTEM_NM, EMAIL, MSG, USER_IP, ACCESS_DATE, USE_MINUTE, CP_CD -->
<!-- 	) VALUES ( -->
<!-- 		#{current_system_cd}, -->
<!-- 		'', -->
<!-- 		#{email}, -->
<!-- 		'login.success', -->
<!-- 		#{user_ip}, -->
<!-- 		getdate(), -->
<!-- 		0, -->
<!-- 		#{cp_cd} -->
<!-- 	) -->
<!-- 	]]> -->
<!-- 	</update> -->
	
<!-- 	<update id="loginFail" parameterType="com.gms.svm.vo.SVMUserVO"> -->
<!-- 	<![CDATA[ -->
<!-- 	INSERT INTO WEBLOGINFAILINFOM ( -->
<!-- 		SYSTEM_CD, SYSTEM_NM, EMAIL, MSG, USER_IP, ACCESS_DATE, CP_CD -->
<!-- 	) VALUES ( -->
<!-- 		#{current_system_cd}, -->
<!-- 		'', -->
<!-- 		#{email}, -->
<!-- 		#{userIdx5}, -->
<!-- 		#{user_ip}, -->
<!-- 		getdate(), -->
<!-- 		#{cp_cd} -->
<!-- 	) -->
<!-- 	]]> -->
<!-- 	</update> -->
	
<!-- 	<update id="logout" parameterType="com.gms.svm.vo.SVMUserVO"> -->
<!-- 	<![CDATA[	 -->
<!-- 	INSERT INTO WEBLOGININFOM ( -->
<!-- 		SYSTEM_CD, SYSTEM_NM, EMAIL, MSG, USER_IP, ACCESS_DATE, USE_MINUTE, CP_CD -->
<!-- 	) VALUES ( -->
<!-- 		#{current_system_cd}, -->
<!-- 		'', -->
<!-- 		#{email}, -->
<!-- 		'logout.success', -->
<!-- 		#{user_ip}, -->
<!-- 		getdate(), -->
<!-- 		0, -->
<!-- 		#{cp_cd} -->
<!-- 	) -->
<!-- 	]]> -->
<!-- 	</update> -->
	
<!-- 	<update id="loginFailCount" parameterType="com.gms.svm.vo.SVMUserVO"> -->
<!-- 	<![CDATA[ -->
<!-- 	UPDATE SVMUSERLOGINM -->
<!-- 	   SET LOGIN_FAIL_CNT = LOGIN_FAIL_CNT + 1 -->
<!-- 	 WHERE EMAIL = #{email} -->
<!-- 	     AND SYSTEM_CD = #{current_system_cd} -->
<!-- 	]]> -->
<!-- 	</update> -->
	
<!-- 	<update id="loginFailCountReset" parameterType="com.gms.svm.vo.SVMUserVO"> -->
<!-- 	<![CDATA[ -->
<!-- 	UPDATE SVMUSERLOGINM -->
<!-- 	   SET LOGIN_FAIL_CNT = 0 -->
<!-- 	 WHERE EMAIL = #{email} -->
<!-- 	     AND SYSTEM_CD = #{current_system_cd} -->
<!-- 	]]> -->
<!-- 	</update> -->
<!-- 	<select id="calculateLoginFailResetCriterion" resultType="String"> -->
<!-- 	<![CDATA[ -->
<!-- 		SELECT CASE WHEN DATEDIFF(MINUTE, MAX(ACCESS_DATE), GETDATE()) > 5 -->
<!-- 					THEN 'Y' -->
<!-- 					ELSE 'N' -->
<!-- 					END -->
<!-- 				AS RESET_CONFIRM_YN -->
<!-- 		  FROM WEBLOGINFAILINFOM -->
<!-- 		 WHERE EMAIL = #{email} -->
<!-- 		     AND SYSTEM_CD = #{system_cd} -->
<!-- 	]]>	 -->
<!-- 	</select> -->
</mapper>