<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sicc.gsp.svm.gms.svm.dao.SVMToolsDAO">

	<sql id="isCode_find" >
		-- include isCode_find [주석]
<!-- 		<choose> -->
<!-- 			<when test="code_find != null and code_find != ''"> -->
				<choose>
					<when test='"MAJOR_CD".equals(code_find)'>
						AND	MAJOR_CD = ${code_find} 
					</when>
					<when test='"MINOR_CD".equals(code_find)'>
						AND MINOR_CD = ${code_find}
					</when>
					<when test='"CODE_NM1".equals(code_find)'>
						AND CODE_NM1 = ${code_find}
					</when>
					<when test='"CODE_NM2".equals(code_find)'>
						AND CODE_NM2 = ${code_find}
					</when>
					<when test='"CODE_NM3".equals(code_find)'>
						AND CODE_NM3 = ${code_find}
					</when>
					<when test='"SPORT_CD".equals(code_find)'>
						AND SPORT_CD = ${code_find}
					</when>
					<when test='"IDX1".equals(code_find)'>
						AND IDX1 = ${code_find}
					</when>
					<when test='"IDX2".equals(code_find)'>
						AND IDX2 = ${code_find}
					</when>
					<when test='"IDX3".equals(code_find)'>
						AND IDX3 = ${code_find}
					</when>
					<otherwise>
						-- 주석 [ isCode_find >> otherwise ]
					</otherwise>				
				</choose>
	</sql>

	<select id="svmCodeList" resultType="hashmap" >
		SELECT 
				MAJOR_CD, MINOR_CD, CODE_NM1, CODE_NM2, CODE_NM3, CODE_IDX1, CODE_IDX2, CODE_IDX3
		  FROM 
		  		SVMCODEM
		<where>
			 ISNULL(HIDE_YN,' ') <![CDATA[<>]]> 'Y'	  
					<choose>
			    		<when test='!"".equals(etc_cond2) and etc_cond2 != null '>			    	
						-- when절 [주석]
		    			AND MAJOR_CD = (SELECT MINOR_CD FROM SVMCODEM WHERE MAJOR_CD = ( SELECT MINOR_CD FROM SVMCODEM WHERE CODE_FIND = #{etc_cond2} AND MAJOR_CD = '000' ) AND MINOR_CD = #{code_find})
		    			</when>
		    			<otherwise>
		    			-- otherwise절 [주석]
				    	AND MAJOR_CD = ( SELECT MINOR_CD FROM SVMCODEM WHERE MAJOR_CD = '000' AND CODE_FIND = #{code_find} )
				    	<if test='"".equals(etc_cond1) or etc_cond1 == null '>
					    	<if test='"CITY_CD".equals(code_find)'>
				    		  AND code_idx1 = (
									          SELECT PROVINSI_CD
									          FROM SVMVOLUNTEERM
									          WHERE AD_NO = #{ad_no}
									          )
					    	</if>
					    	<if test='"DISTRICT_CD".equals(code_find)'>
				    		  AND code_idx1 = (
									          SELECT CITY_CD
									          FROM SVMVOLUNTEERM
									          WHERE AD_NO = #{ad_no}
									          )
					    	</if>
					    	<if test='"VILLAGE_CD".equals(code_find)'>
				    		  AND code_idx1 = (
									          SELECT DISTRICT_CD
									          FROM SVMVOLUNTEERM
									          WHERE AD_NO = #{ad_no}
									          )
					    	</if>
				    	</if>
		    			</otherwise>
	    			</choose>		
	    		<if test='!"".equals(etc_cond1) and etc_cond1 != null '>
		    		AND CODE_IDX1 = #{etc_cond1}
		    	</if>
		</where>		
		<if test="order != null and order != ''">
	   	  ORDER BY SVMCODEM.${order}		
		</if>
	</select>
	
	
	<select id="tco" resultType="hashmap" >
	<![CDATA[ 
		-- mapper >> kr.co.sicc.gsp.svm.gms.svm.dao.SVMToolsDAO
		  
	    SELECT MAJOR_CD, MINOR_CD, CODE_NM1, CODE_NM2, CODE_NM3, CODE_IDX1, CODE_IDX2, CODE_IDX3, CODE_IDX4, CODE_IDX5 , SPORT_CD  , S_CODE_NM1 , S_CODE_NM2 , S_CODE_NM3 , T_CODE_NM1 , T_CODE_NM2 , T_CODE_NM3 
		  FROM TCOCODEM
		 WHERE MAJOR_CD = (SELECT MINOR_CD
		 					 FROM TCOCODEM
		 					WHERE CODE_IDX1 = #{code_find})
		   AND HIDE_YN != 'Y'	  
	]]>
		<if test="etc_cond1 != null and etc_cond1 != ''">
	   	  ${etc_cond1}		
		</if>
		<if test="order != null and order != ''">
	   	  ORDER BY ${order}		
		</if>
	</select>
	
	<select id="categoryList" resultType="hashmap" >
	<![CDATA[  
	    SELECT CATEGORY_CD 		AS MINOR_CD, 
	    	   CATEGORY_CD_NM 	AS CATEGORY_CD_NM, 
	    	   CATEGORY_NM 		AS CODE_NM1,
	    	   CATEGORY_NM 		AS CODE_NM2
		  FROM ACRCATEGORYM
		 WHERE 1=1 
	]]>
		<if test="etc_cond1 != null and etc_cond1 != ''">
	   	  ${etc_cond1}		
		</if>
		<if test="order != null and order != ''">
	   	  ORDER BY ${order}		
		</if>
	</select>
	
	<select id="functionList" resultType="hashmap" >
	<![CDATA[  
	    SELECT FUNCTION_CD 		AS MINOR_CD, 
	    	   FUNCTION_CD_NM 	AS FUNCTION_CD_NM, 
	    	   FUNCTION_NM 		AS CODE_NM1,
	    	   FUNCTION_NM 		AS CODE_NM2,
	    	   CATEGORY_CD		AS CODE_IDX1
		  FROM ACRFUNCTIONM
		 WHERE 1=1 
	]]>
		<if test="etc_cond1 != null and etc_cond1 != ''">
	   	  ${etc_cond1}		
		</if>
		<if test="order != null and order != ''">
	   	  ORDER BY ${order}		
		</if>
	</select>
	
	<select id="orgList" resultType="hashmap" >
	<![CDATA[  
	    SELECT ORG_CD 		AS MINOR_CD, 
	    	   ORG_CD_NM 	AS ORG_CD_NM, 
	    	   ORG_NM 		AS CODE_NM1,
	    	   ORG_NM 		AS CODE_NM2,
	    	   R_CATEGORY_CD AS CODE_IDX1
		  FROM ACRORGM
		 WHERE 1=1 
	]]>
		<if test="etc_cond1 != null and etc_cond1 != ''">
	   	  ${etc_cond1}		
		</if>
		<if test="order != null and order != ''">
	   	  ORDER BY ${order}		
		</if>
	</select>

	<select id="changeAddr" resultType="hashmap" >
		
		SELECT MAJOR_CD, MINOR_CD, CODE_NM1, CODE_NM2, CODE_NM3, CODE_IDX1, CODE_IDX2, CODE_IDX3
		  FROM 
		  		SVMCODEM
		 WHERE 
		 		MAJOR_CD = (SELECT MINOR_CD FROM SVMCODEM  WHERE CODE_FIND = #{code_find} AND MAJOR_CD = '000')
		<where>
			 ISNULL(HIDE_YN,' ') <![CDATA[<>]]> 'Y'	  
			AND CODE_IDX = #{etc_cond1}
			 
					<choose>
			    		<when test='"PROVINCE_CD".eqausl(code_find)'>			    	
		    			</when>
			    		<when test='"CITY_CD".eqausl(code_find)'>			    	
						-- when절 [CITY] 
		    			</when>
			    		<when test='"VILLAGE_CD".eqausl(code_find)'>			    	
						-- when절 [VILLAGE]
		    			</when>
		    			<otherwise>
		    			-- otherwise절 [주석] #{etc_cond1} /  #{etc_cond2}
		    			</otherwise>
	    			</choose>		
	    		<if test='!"".equals(etc_cond1) and etc_cond1 != null '>
		    		--AND CODE_IDX1 = #{etc_cond1}
		    	</if>
		</where>		
		<if test="order != null and order != ''">
	   	  ORDER BY SVMCODEM.${order}		
		</if>
	</select>
	
	<select id="changeExperience" resultType="hashmap" >
		
		SELECT MAJOR_CD, MINOR_CD, CODE_NM1, CODE_NM2, CODE_NM3, CODE_IDX1, CODE_IDX2, CODE_IDX3
		  FROM 
		  		SVMCODEM
		 WHERE 
		 		MAJOR_CD = (SELECT MINOR_CD FROM SVMCODEM  WHERE CODE_FIND = #{code_find} AND MAJOR_CD = '000')
		 
   		 AND	 ISNULL(HIDE_YN,' ') <![CDATA[<>]]> 'Y'	  
		 AND CODE_IDX2 = #{etc_cond1}
		<if test="order != null and order != ''">
	   	  ORDER BY SVMCODEM.${order}		
		</if>
	</select>

</mapper>