<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sicc.gsp.svm.gms.svm.dao.SVMUserDAO">
<!-- 	<select id="list" resultType="hashmap"> -->
<!-- 	<![CDATA[ -->
<!-- 		SELECT 	U.EMAIL, dbo.FN_DECT(U.USER_NM) AS USER_NM, U.SYSTEM_CD, U.USE_YN -->
<!-- 				, dbo.FN_SYS_GROUP_NM(U.EMAIL, 4) AS GROUP_ID  -->
<!-- 				, U.RN -->
<!-- 	  	FROM 	 -->
<!-- 	  	( -->
<!-- 			SELECT 	ROW_NUMBER() OVER( -->
<!-- 	]]>	 -->
<!-- 			<if test="search_order != null and search_order != '' "> -->
<!-- 				ORDER BY ${search_order} -->
<!-- 			</if> -->
<!-- 			<if test="search_order == null or search_order == '' "> -->
<!-- 				ORDER BY EMAIL -->
<!-- 			</if> -->
<!-- 	<![CDATA[		 -->
<!-- 					) AS RN -->
<!-- 					, A.* -->
<!-- 		  	FROM 	SVMUSERLOGINM A -->
<!-- 		 	WHERE 	1=1 -->
<!-- 	]]> -->
<!-- 		<if test="search_system_cd != null and search_system_cd != '' "> -->
<!-- 			AND SYSTEM_CD = #{search_system_cd} -->
<!-- 		</if> -->
<!-- 		<if test="search_use_yn != null and search_use_yn != '' "> -->
<!-- 			AND USE_YN = #{search_use_yn} -->
<!-- 		</if> -->
<!-- 		<if test="search_EMAIL != null and search_EMAIL != '' "> -->
<!-- 			AND EMAIL LIKE '%${search_EMAIL}%' -->
<!-- 		</if> -->
<!-- 		<if test="search_user_group != null and search_user_group != '' "> -->
<!-- 			AND EMAILX5 = #{search_user_group} -->
<!-- 		</if> -->
<!-- 		<if test="search_user_nm != null and search_user_nm != '' "> -->
<!-- 			AND USER_NM LIKE '%${search_user_nm}%'  -->
<!-- 		</if> -->
<!-- 		<if test="search_group_id != null and search_group_id != '' "> -->
<!-- 			AND #{search_group_id} IN (SELECT VAL FROM dbo.FN_SPLIT_TBL(ASSIGN_GROUP_ID)) -->
<!-- 		</if> -->
<!-- 	<![CDATA[ -->
<!-- 		) U -->
<!-- 		WHERE	RN >= ${page_st} -->
<!-- 		  AND	RN <  ${page_ed} -->
<!-- 	]]> -->
<!-- 	</select> -->
	
<!-- 	<select id="total_cnt" resultType="int"> -->
<!-- 	<![CDATA[ -->
<!-- 		SELECT 	COUNT(EMAIL) AS TOTAL_CNT -->
<!-- 		  FROM 	SVMUSERLOGINM -->
<!-- 		 WHERE 	1=1 -->
<!-- 	]]> -->
<!-- 		<if test="search_system_cd != null and search_system_cd != '' "> -->
<!-- 			AND SYSTEM_CD = #{search_system_cd} -->
<!-- 		</if> -->
<!-- 		<if test="search_use_yn != null and search_use_yn != '' "> -->
<!-- 			AND USE_YN = #{search_use_yn} -->
<!-- 		</if> -->
<!-- 		<if test="search_EMAIL != null and search_EMAIL != '' "> -->
<!-- 			AND EMAIL LIKE '%${search_EMAIL}%' -->
<!-- 		</if> -->
<!-- 		<if test="search_user_group != null and search_user_group != '' "> -->
<!-- 			AND EMAILX5 = #{search_user_group} -->
<!-- 		</if> -->
<!-- 		<if test="search_user_nm != null and search_user_nm != '' "> -->
<!-- 			AND USER_NM LIKE '%${search_user_nm}%'  -->
<!-- 		</if> -->
<!-- 		<if test="search_group_id != null and search_group_id != '' "> -->
<!-- 			AND #{search_group_id} IN (SELECT VAL FROM dbo.FN_SPLIT_TBL(ASSIGN_GROUP_ID)) -->
<!-- 		</if> -->
<!-- 	</select> -->
	
	<insert id="insert" parameterType="kr.co.sicc.gsp.svm.gms.svm.vo.SVMUserVO">
		INSERT INTO SVMUSERM (

			  TENANT_ID
			, CP_CD
			, EMAIL_ID
			, PASSWORD
			, USE_YN
			, EMAIL_ID_AUTH_ID
			, EMAIL_ID_AUTH_YN
			, PASSWORD_CHG_YN
			, BIRTH_DT
 			, SUBMIT_YN
 			, SUBMIT_DATE
			, SAVE_TAB_ID
 			, ASSIGN_GROUP_ID
			, ENC_SALT	
 			, CRT_DATE
            , CRT_ID
            , CRT_IP
            
		) VALUES (
			  #{tenant_id}
			, #{cp_cd}
			, #{email_id}
			, #{password}
			, #{use_yn}
			, #{email_id_auth_id}
			, #{email_id_auth_yn}
			, #{password_chg_yn}
			, #{birth_dt}
			, #{submit_yn}
 			, #{submit_date}
 			, #{save_tab_id}
 			, #{assign_group_id}
 			, #{saltBase64}
 			, now()  

 			<choose>
			   <when test="email_id == null">
				   ,coalesce('','')
			   </when>
			   <otherwise> 
				   ,coalesce(#{email_id},'')
			   </otherwise>
		   </choose>

 			<choose>
			   <when test="user_ip == null">
				   ,coalesce('','')
			   </when>
			   <otherwise> 
				   ,coalesce(#{user_ip},'')
			   </otherwise>
		   </choose>
		)
	</insert>
	
	<update id="update" parameterType="kr.co.sicc.gsp.svm.gms.svm.vo.SVMUserVO">
	<![CDATA[
		UPDATE 	SVMUSERLOGINM	   	
	]]>
		   	<set>
		   		<if test="submit_yn != null and submit_yn != '' ">
		   		  SUBMIT_YN = #{submit_yn},
		   		</if>
		   		<if test="use_yn != null and use_yn != '' ">
		   		  USE_YN = #{use_yn},
		   		</if>
			   	<if test="email_id_auth_yn != null and email_id_auth_yn != '' "> 	
			   		  EMAIL_ID_AUTH_YN = #{email_auth_yn},
			    </if>
			   	<if test="password_chg_yn != null and password_chg_yn != '' "> 	
			   		  PASSWORD_CHG_YN = #{password_chg_yn},
			    </if>
			   	<if test="birth_dt != null and birth_dt != '' "> 	
			   		  BIRTH_DT = #{birth_dt},
			    </if>
			    <if test="save_tab_id != null and save_tab_id != '' ">
			   		  SAVE_TAB_ID = #{save_tab_id},
			    </if>
				<if test="newPassword != null and newPassword != '' ">
					  PASSWORD = #{newPassword},
					  PWD_SALT = #{saltBase64}, 
				</if>
				UDT_DT = now(),
				
				<choose>
				   <when test="user_id == null">
					   UDT_ID = coalesce('','')
				   </when>
				   <otherwise>
					   UDT_ID = coalesce(#{user_id},'')
				   </otherwise>
			    </choose>
				  
				<choose>
					<when test="user_ip == null">
					   ,UDT_IP = coalesce('','')
				    </when>
				    <otherwise>
					   ,UDT_IP = coalesce(#{user_ip},'')
					</otherwise>
			   </choose>
			    
			   <if test='"Y".equals(submit_yn)'>
				   ,SUBMIT_DATE = now()
			   </if>
			</set>
	<![CDATA[		
		 WHERE TENANT_ID	= #{tenant_id}
  		   AND CP_CD		= #{cp_cd} 
		   AND EMAIL_ID 	= #{email_id}	
	]]>
	</update>
	
	<delete id="delete">
		<![CDATA[
			DELETE 	FROM SVMUSEM
			 WHERE TENANT_ID	= #{tenant_id}
	  		   AND CP_CD		= #{cp_cd} 
			   AND EMAIL_ID 	= #{email_id}	
		]]>	
	</delete>
	
	<select id="chk_email" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM SVMUSERM
			WHERE TENANT_ID	= #{param1}
  		    AND CP_CD		= #{param2} 
			AND EMAIL_ID 	= #{param3}
		]]>
	</select>
	
	<select id="chk_email_auth" resultType="String">
		<![CDATA[
			SELECT EMAIL_ID_AUTH_YN
			FROM SVMUSERM
		WHERE TENANT_ID		= #{param1}
  		    AND CP_CD		= #{param2} 
			AND EMAIL_ID	= #{param3}
		]]>
	</select>
<!-- 	<insert id="insert_group" parameterType="com.gms.svm.vo.SVMUserVO"> -->
<!-- 	<![CDATA[ -->
<!-- 		INSERT INTO WEBUSERGROUPD ( -->
<!-- 			EMAIL -->
<!-- 			, SYSTEM_CD -->
<!-- 			, GROUP_ID -->
<!-- 			, CRT_DATE -->
<!-- 			, CRT_ID -->
<!-- 			, CRT_IP -->
<!-- 		) VALUES ( -->
<!-- 			#{EMAIL} -->
<!-- 			, #{system_cd} -->
<!-- 			, #{group_id} -->
<!-- 			, GETDATE() -->
<!-- 			, #{username} -->
<!-- 			, #{user_ip} -->
<!-- 		)	 -->
<!-- 	]]> -->
<!-- 	</insert> -->
	
<!-- 	<delete id="delete_group"> -->
<!-- 	<![CDATA[ -->
<!-- 		DELETE -->
<!-- 		  FROM 	WEBUSERGROUPD -->
<!-- 		 WHERE 	EMAIL = #{0} -->
<!-- 		     AND SYSTEM_CD =  #{1} -->
<!-- 	]]> -->
<!-- 	</delete> -->
	
<!-- 	<delete id="delete_group_priv"> -->
<!-- 	<![CDATA[ -->
<!-- 		DELETE  -->
<!-- 		  FROM 	WEBUSERPOWERD -->
<!-- 		 WHERE 	EMAIL = #{0} -->
<!-- 		   AND   SYSTEM_CD = #{1} -->
<!-- 		   AND 	ACCESS_PRIV IN (SELECT ACCESS_PRIV FROM WEBGROUPPOWERD WHERE GROUP_ID IN (SELECT GROUP_ID FROM WEBUSERGROUPD WHERE EMAIL = #{0} AND SYSTEM_CD = {1})) -->
<!-- 	]]>	 -->
<!-- 	</delete> -->
	
<!-- 	<select id="list_priv" resultType="hashmap"> -->
<!-- 	<![CDATA[ -->
<!-- 		SELECT 	A.SYSTEM_CD -->
<!-- 				, dbo.FN_GMS_CODE('SYSTEM_CD', A.SYSTEM_CD, '3') AS SYSTEM_NM  -->
<!-- 				, A.ACCESS_PRIV -->
<!-- 				, (SELECT ACCESS_NM FROM WEBACCESSPRIVM WHERE ACCESS_PRIV = A.ACCESS_PRIV)  AS ACCESS_NM  -->
<!-- 				, B.AUTHORITY  -->
<!-- 		  FROM 	WEBACCESSPRIVM A  -->
<!-- 		  LEFT OUTER JOIN WEBGROUPPOWERD B  -->
<!-- 			ON A.ACCESS_PRIV = B.ACCESS_PRIV  -->
<!-- 				AND B.GROUP_ID = #{group_id} -->
<!-- 		 WHERE  A.SYSTEM_CD IN (#{priv_system_cd})  -->
<!--   		   AND 	A.ACCESS_PRIV NOT IN (SELECT ACCESS_PRIV FROM WEBUSERPOWERD WHERE EMAIL = #{p_EMAIL} ) -->
<!-- 		 ORDER  -->
<!-- 		 	BY A.SYSTEM_CD, A.ACCESS_PRIV -->
<!-- 	]]> -->
<!-- 	</select> -->
	
<!-- 	<insert id="insert_priv" parameterType="com.gms.svm.vo.SVMUserVO"> -->
<!-- 	<![CDATA[ -->
<!-- 		INSERT INTO WEBUSERPOWERD ( -->
<!-- 			EMAIL -->
<!-- 			, ACCESS_PRIV -->
<!-- 			, SYSTEM_CD -->
<!-- 			, AUTHORITY -->
<!-- 			, CRT_DT -->
<!-- 			, CRT_ID -->
<!-- 			, CRT_IP -->
<!-- 		)  -->
<!-- 		SELECT 	#{EMAIL} -->
<!-- 				, ACCESS_PRIV -->
<!-- 				, SYSTEM_CD -->
<!-- 				, MAX(AUTHORITY) -->
<!-- 				, GETDATE() -->
<!-- 				, #{username} -->
<!-- 				, #{user_ip} -->
<!-- 		  FROM	WEBGROUPPOWERD -->
<!-- 		 WHERE	GROUP_ID IN ( SELECT GROUP_ID FROM SYSUSERGROUPD WHERE EMAIL = #{EMAIL} ) -->
<!-- 		 GROUP  BY 	ACCESS_PRIV, SYSTEM_CD -->
<!-- 		 ORDER  BY 	SYSTEM_CD, ACCESS_PRIV -->
<!-- 	]]> -->
<!-- 	</insert> -->
	
<!-- 	<delete id="delete_priv"> -->
<!-- 	<![CDATA[ -->
<!-- 		DELETE  -->
<!-- 		  FROM 	WEBUSERPOWERD -->
<!-- 		 WHERE 	EMAIL = #{0} -->
<!-- 	]]>	 -->
<!-- 	</delete> -->
	
<!-- 	<select id="list_granted_priv" resultType="hashmap"> -->
<!-- 	<![CDATA[ -->
<!-- 		SELECT 	A.SYSTEM_CD -->
<!-- 				, dbo.FN_GMS_CODE('SYSTEM_CD', A.SYSTEM_CD, '3') AS SYSTEM_NM  -->
<!-- 				, A.ACCESS_PRIV -->
<!-- 				, (SELECT ACCESS_NM FROM WEBACCESSPRIVM WHERE ACCESS_PRIV = A.ACCESS_PRIV)  AS ACCESS_NM -->
<!-- 				, B.AUTHORITY -->
<!-- 		  FROM 	WEBACCESSPRIVM A, WEBUSERPOWERD B -->
<!-- 		 WHERE 	A.ACCESS_PRIV = B.ACCESS_PRIV  -->
<!-- 		   AND 	B.EMAIL = #{p_EMAIL} -->
<!-- 		 ORDER 	 -->
<!-- 		 	BY 	A.SYSTEM_CD, A.ACCESS_PRIV  -->
<!-- 	]]> -->
<!-- 	</select> -->
	
<!-- 	<insert id="insert_auth" parameterType="com.gms.svm.vo.SVMUserVO"> -->
<!-- 	<![CDATA[ -->
<!-- 		INSERT INTO WEBUSERPOWERD ( -->
<!-- 			EMAIL -->
<!-- 			, ACCESS_PRIV -->
<!-- 			, SYSTEM_CD -->
<!-- 			, AUTHORITY -->
<!-- 			, CRT_DT -->
<!-- 			, CRT_ID -->
<!-- 			, CRT_IP -->
<!-- 		) VALUES ( -->
<!-- 			#{p_EMAIL} -->
<!-- 			, #{access_priv} -->
<!-- 			, #{priv_system_cd} -->
<!-- 			, #{authority} -->
<!-- 			, GETDATE() -->
<!-- 			, #{username} -->
<!-- 			, #{user_ip} -->
<!-- 		) -->
<!-- 	]]> -->
<!-- 	</insert> -->
	
<!-- 	<insert id="insert_history" parameterType="com.gms.svm.vo.SVMUserVO"> -->
<!-- 	<![CDATA[ -->
<!-- 		INSERT INTO SVMUSERLOGINMODIFIEDM ( -->
<!-- 			EMAIL -->
<!-- 			, SEQ -->
<!-- 			, USER_NM -->
<!-- 			, SYSTEM_CD -->
<!-- 			, STATUS -->
<!-- 			, MODIFY_CONTENTS  -->
<!-- 			, CRT_DT -->
<!-- 			, CRT_ID -->
<!-- 			, CRT_IP -->
<!-- 		) VALUES ( -->
<!-- 			#{p_EMAIL} -->
<!-- 			, (SELECT coalesce(MAX(SEQ), 0)+1 FROM SVMUSERLOGINMODIFIEDM WHERE EMAIL = #{EMAIL}) -->
<!-- 			, #{user_nm} -->
<!-- 			, #{system_cd} -->
<!-- 			, #{status} -->
<!-- 			, #{revision_history} -->
<!-- 			, GETDATE() -->
<!-- 			, #{username} -->
<!-- 			, #{user_ip} -->
<!-- 		) -->
<!-- 	]]> -->
<!-- 	</insert> -->
</mapper>