<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sicc.gsp.svm.gms.common.interceptor.BasicInfoDAO">

  	<select id="TenantInfo" resultType="kr.co.sicc.gsp.svm.gms.common.interceptor.BasicInfo" >
		/* URL정보로 TENANT, 대회, 엠블럼 정보 가져오기 */
		SELECT 
		       A.TENANT_ID 
		      ,A.CP_CD         
		      ,A.CP_NM            /*대회명은 TOP 우측에 표기 */      
		      ,B.FILE_PATH_NM     /*이미지 경로             */ 
		      ,B.IMG_FILE_NM      /*파일명                  */
		  FROM CON.CONCPM A  /* TABLE : 대회정보 */
		  LEFT OUTER JOIN CON.CONCPIMGM B  /* TABLE : 대회이미지정보 */
		    ON A.TENANT_ID = B.TENANT_ID
		   AND A.CP_CD     = B.CP_CD
		   AND B.IMG_FG_CD ='EM'     /*대회 엠블럼 이미지*/   
		  LEFT OUTER JOIN CON.CONCPSERVICEM C  /* TABLE : 대회서비스정보 */
		    ON A.TENANT_ID = C.TENANT_ID
		   AND A.CP_CD     = C.CP_CD
		 WHERE C.SERVICE_URL_ADDR = #{service_url_addr}    /* GETHOST 정보 조건 (EX:  pot.jakarta.gsp.sicc.co.kr) */
  	</select>  	
  	 
  	<select id="ServiceInfo" resultType="kr.co.sicc.gsp.svm.gms.common.interceptor.BasicInfo" >
  	<![CDATA[
		/* 사용 서비스 시스템 정보 가져오기 */
		  SELECT 
		         B.SERVICE_CD
		        ,B.SERVICE_START_DT
		        ,B.SERVICE_END_DT
		        ,B.SYSTEM_CD
		        ,B.SERVICE_URL_ADDR
		        ,C.CODE_NM1
		        ,C.CODE_NM2
		        ,C.CODE_NM3
		        ,C.DISPLAY_CD
		    FROM CON.CONCPSERVICEM A  /* TABLE : 대회서비스정보 */
		    LEFT OUTER JOIN CON.CONCPSERVICED B  /* TABLE : 대회서비스상세 */
		      ON A.TENANT_ID = B.TENANT_ID
		     AND A.CP_CD     = B.CP_CD
		     AND B.SERVICE_START_DT <= TO_CHAR(NOW(),'YYYYMMDD') 
		     AND B.SERVICE_END_DT >= TO_CHAR(NOW(),'YYYYMMDD')
		    LEFT OUTER JOIN GMS_SYS.TCOCODEM C
		    --  ON B.TENANT_ID = C.TENANT_ID -- 향후 테넌트 ID 조건 걸어주어야 함 (테스트 데이터는 '')  
		     ON C.MAJOR_CD='103'
		     AND B.SYSTEM_CD = C.MINOR_CD 
		    -- AND C.HIDE_YN ='N'          -- 향후 감추기 조건 걸어주어야 함  
		    -- AND C.CODE_IDX4 ='Y'  -- 향후 사용 서비스 조건 걸어주어야 함
		    WHERE A.TENANT_ID = #{TENANT_ID}    /* GETHOST 정보 조건 (EX:  2018000000) */
	]]>		    
  	</select>  	
  	  	 
</mapper>