<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sicc.gsp.svm.gms.common.tools.ToolsDAO">

	<select id="tco" resultType="hashmap" >
	<![CDATA[  
    SELECT MAJOR_CD, 
           MINOR_CD, 
           CASE WHEN #{code_find} = 'FA_CD' THEN DISPLAY_CD + '-'+CODE_NM1 ELSE CODE_NM1 END AS CODE_NM1, 
           CASE WHEN #{code_find} = 'FA_CD' THEN DISPLAY_CD + '-'+S_CODE_NM1 ELSE S_CODE_NM1 END AS CODE_NM2, 
           CODE_NM3, 
           CODE_IDX1, CODE_IDX2, CODE_IDX3, CODE_IDX4, 
           SPORT_CD, 
           DISPLAY_CD
	  FROM TCOCODEM
	 WHERE MAJOR_CD = (SELECT MINOR_CD
	 					 FROM TCOCODEM
	 					WHERE CODE_IDX1 = #{code_find})
	   AND HIDE_YN = 'N'	  
	   AND USE_CP_CD LIKE #{cp_cd}+'%'
	]]>
	<if test="order != null and order != ''">
   	 ORDER BY ${order}		
	</if>
	</select>
</mapper>