<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sicc.gsp.svm.gms.common.tools.WholeToolsDAO">

	<select id="tco" resultType="hashmap" >
	<![CDATA[  
	SELECT MAJOR_CD, MINOR_CD, CODE_NM1, S_CODE_NM1 AS CODE_NM2, CODE_NM3, CODE_IDX1, CODE_IDX2, CODE_IDX3, CODE_IDX4, SPORT_CD, DISPLAY_CD
	  FROM TCOCODEM
	 WHERE MAJOR_CD = '000'
	   AND HIDE_YN = 'N'
	   AND LOAD_FG = 'R'
	   AND USE_CP_CD LIKE '${cp_cd}%'
	UNION ALL
	SELECT MAJOR_CD, 
	       MINOR_CD, 
	       CASE WHEN MAJOR_CD = '124' THEN DISPLAY_CD + '-'+CODE_NM1 ELSE CODE_NM1 END AS CODE_NM1, 
	       CASE WHEN MAJOR_CD = '124' THEN DISPLAY_CD + '-'+S_CODE_NM1 ELSE S_CODE_NM1 END AS CODE_NM2, 
	       CODE_NM3, 
	       CODE_IDX1, CODE_IDX2, CODE_IDX3, CODE_IDX4, 
	       SPORT_CD, 
	       DISPLAY_CD
	  FROM TCOCODEM
	 WHERE MAJOR_CD IN (
	                    SELECT MINOR_CD
	                      FROM TCOCODEM
	                     WHERE MAJOR_CD = '000'
	                       AND MINOR_CD > '000'
	                       AND LOAD_FG = 'R' )
	   AND HIDE_YN = 'N'
	   AND USE_CP_CD LIKE '${cp_cd}%'
	]]>
	</select>
	<select id="cfs" resultType="hashmap" >
	<![CDATA[  
	SELECT [MAJOR_CD],
	       [MINOR_CD],
	       [CODE_NM],
	       [L1_CODE_NM],
	       [L2_CODE_NM],
	       [L3_CODE_NM],
	       [L4_CODE_NM],
	       [HIDE_YN],
	       [SORT_ORD],
	       [CODE_IDX1],
	       [CODE_IDX2],
	       [CODE_IDX3],
	       [CODE_IDX4],
	       [CODE_IDX5],
	       [UDT_ID],
	       [UDT_DATE],
	       [UDT_IP],
	       [USE_CP_CD]
	  FROM CFSCODEM
	 WHERE HIDE_YN = 'N'
	]]>
	</select>
</mapper>