<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sicc.gsp.svm.gms.svm.dao.SVMUserDAO">	

	<insert id="insert" parameterType="kr.co.sicc.gsp.svm.gms.svm.vo.SVMUserVO">
		INSERT INTO SVMUSERM (
			  TENANT_ID
			, CP_CD
			, EMAIL_ID
			, PASSWORD
			, USE_YN
			, EMAIL_ID_AUTH_ID
			, EMAIL_ID_AUTH_YN
			, PASSWORDWD_CHG_YN
			, BIRTH_DT
 			, SUBMIT_YN
 			, SUBMIT_DATE
			, SUBMIT_TAB_ID
 			, ASSIGN_GROUP_ID
			, ENC_SALT	
 			, CRT_DATE
            , CRT_ID
            , CRT_IP
            
		) VALUES (
			  #{tenant_id}
			, #{cp_cd}
			, #{email_id}
			, #{password}
			, #{use_yn}
			, #{email_id_auth_id}
			, #{email_id_auth_yn}
			, #{password_chg_yn}
			, #{birth_dt}
			, #{submit_yn}
 			, #{submit_date}
 			, #{submit_tab_id}
 			, #{assign_group_id}
 			, #{saltBase64}
 			, now()  

 			<choose>
			   <when test="user_id == null">
				   ,isNull('','')
			   </when>
			   <otherwise> 
				   ,isNull(#{user_id},'')
			   </otherwise>
		   </choose>

 			<choose>
			   <when test="user_ip == null">
				   ,isNull('','')
			   </when>
			   <otherwise> 
				   ,isNull(#{user_ip},'')
			   </otherwise>
		   </choose>
		)
	</insert>
	
	<update id="update" parameterType="kr.co.sicc.gsp.svm.gms.svm.vo.SVMUserVO">
	<![CDATA[
		UPDATE 	SVMUSERLOGINM	   	
	]]>
		   	<set>
		   		<if test="submit_yn != null and submit_yn != '' ">
		   		  SUBMIT_YN = #{submit_yn},
		   		</if>
		   		<if test="use_yn != null and use_yn != '' ">
		   		  USE_YN = #{use_yn},
		   		</if>
			   	<if test="email_id_auth_yn != null and email_id_auth_yn != '' "> 	
			   		  EMAIL_ID_AUTH_YN = #{email_auth_yn},
			    </if>
			   	<if test="password_chg_yn != null and password_chg_yn != '' "> 	
			   		  PASSWORD_CHG_YN = #{password_chg_yn},
			    </if>
			   	<if test="birth_dt != null and birth_dt != '' "> 	
			   		  BIRTH_DT = #{birth_dt},
			    </if>
			    <if test="save_tab_id != null and save_tab_id != '' ">
			   		  SAVE_TAB_ID = #{save_tab_id},
			    </if>
				<if test="newPassword != null and newPassword != '' ">
					  PASSWORD = #{newPassword},
					  PWD_SALT = #{saltBase64}, 
				</if>
				UDT_DT = now(),
				
				<choose>
				   <when test="user_id == null">
					   UDT_ID = isNull('','')
				   </when>
				   <otherwise>
					   UDT_ID = isNull(#{user_id},'')
				   </otherwise>
			    </choose>
				  
				<choose>
					<when test="user_ip == null">
					   ,UDT_IP = isNull('','')
				    </when>
				    <otherwise>
					   ,UDT_IP = isNull(#{user_ip},'')
					</otherwise>
			   </choose>
			    
			   <if test='"Y".equals(submit_yn)'>
				   ,SUBMIT_DATE = now()
			   </if>
			</set>
	<![CDATA[		
		 WHERE TENANT_ID	= #{tenant_id}
  		   AND CP_CD		= #{cp_cd} 
		   AND EMAIL_ID 	= #{email_id}	
	]]>
	</update>
	
	<delete id="delete">
		<![CDATA[
			DELETE 	FROM SVMUSEM
			 WHERE TENANT_ID	= #{tenant_id}
	  		   AND CP_CD		= #{cp_cd} 
			   AND EMAIL_ID 	= #{email_id}	
		]]>	
	</delete>
	
	<select id="chk_email" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM SVMUSERM
			WHERE ENANT_ID	= #{0}
  		    AND CP_CD		= #{1} 
			AND EMAIL 		= #{2}
		]]>
	</select>
	
	<select id="chk_email_auth" resultType="String">
		<![CDATA[
			SELECT EMAIL_AUTH_YN
			FROM SVMUSERM
		WHERE ENANT_ID		= #{0}
  		    AND CP_CD		= #{1} 
			AND EMAIL 		= #{2}
		]]>
	</select>
	
</mapper>